* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("../fonts/Barlow/Barlow-Thin.tff") format("truetype");
}

body {
  color: rgb(187, 182, 182);
  display: flex;
  flex-direction: column;
  height: auto;
  background-image: url("/image/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.logodiv_specialist {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 50px;
}
.hamdiv_specialist {
  display: none;
}

.navdiv_specialist {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.055);
  margin-top: -25px;
  height: 80px;
  width: 50%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img {
  width: 40px;
}
.ulbar_specialist {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
}
ul a {
  text-decoration: none;
  color: inherit;
}
ul a .active {
  border-bottom-style: solid;
  border-bottom: 10px;
  border-bottom-color: white;
}

.firstdiv_specialist {
  display: inline;
}

.emptydiv_specialist {
  width: 530px;
  height: 0.2px;
  background-color: rgb(94, 94, 94);
  margin-left: 150px;
  margin-top: -50px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.image {
  margin-left: 100px;
  margin-top: 100px;
}

.line_btns_1 {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d0d6f9;
  border: none;
  cursor: pointer;
}

.btn.active {
  background-color: #007bff;
}

.text {
  display: flex;
  font-family: "Barlow", sans-serif;
  flex-direction: column;
  margin-left: 100px;
}

.text {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
}

.text h3 {
  font-family: "Barlow", sans-serif;
  margin-bottom: 12px;
  font-size: 35px;
  font-weight: lighter;
}
.text h1 {
  font-size: 50px;
  font-weight: lighter;
  color: white;
}

.textSpecialist {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  width: 500px;
  line-height: 30px;
  margin-top: 20px;
}
.image2 {
  width: 400px;
}
.second {
  width: 70%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: -100px;
  font-size: 25px;
}
.firstspan {
  color: dimgray;
  font-family: "Barlow", sans-serif;
}

@media (max-width: 450px) {
  /* .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 300px;
    min-height: auto;
    gap: 3rem;
    padding: 2rem 1.5rem;
    height: auto;
  } */
  /* .emptydiv_pilot {
    display: none;
  }
  .header {
    position: fixed;
  }
  .hamburger {
    display: flex;
  }

  .hr {
    display: none;
  } */
  /* .buttons {
    position: relative;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: transparent;
    max-height: 0;
    overflow: hidden;
    padding: 15px 0;
    transition: max-height 0.3s ease;
  } */
  /* .buttons.active {
    max-height: 1000px;
    padding: 20px;
  }
  .body p {
    display: flex;
    flex-direction: column;
  } */
  .body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    height: auto;
  }
  /* .image {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: none;
    height: auto;
  } */

  /* .text{ */
  /* display: flex;
     flex-direction: column;
  } */
  /* .text h2 {
    margin-bottom: 30px;
  }
  .text h3 {
    margin-top: 5px;
  }

  .text h1 {
    margin-bottom: 10px;
  }
  .text p {
    font-size: 10px;
  } */
  .navdiv_specialist {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    max-width: 300px;
    right: 0;
  }

  .hamdiv_specialist {
    display: flex;
    justify-content: right;
    margin-right: 8px;
    margin-top: -27px;
  }
  .hamdiv2 {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 50px;
    right: 0;
    top: 5%;
    transition: 1s ease;
  }

  .hamnav {
    position: relative;
  }
  .empty {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }
  .ham {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 60%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(-45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }

  .navbar {
    height: 100vh;
    width: 100%;
    max-width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: -300px;
    transition: 1s ease;
    color: rgb(15, 15, 15);

    justify-content: start;
  }

  .ulbar_specialist {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    margin-top: 20px;
    margin-left: 40px;
  }
  .logodiv_specialist {
    margin-top: 20px;
    margin-left: 15px;
  }
  .emptydiv_specialist {
    display: none;
  }
  .image {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: none;
    height: auto;
  }

  .image img {
    display: block;
    width: 250px;
  }

  .text {
    margin-left: 0;
    margin-top: 30px;
    padding: 0 20px;
  }

  .text h3 {
    margin-bottom: 8px;
  }

  .textSpecialist {
    width: auto;
    font-size: 17px;
    line-height: 25px;
  }

  .line_btns_1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .btn {
    width: 12px;
    height: 12px;
  }
}
