* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "Barlow", sans-serif;
  src: url("../fonts/Barlow/Barlow-Thin.tff") format("truetype");
}
body {
  background-image: url(/image/background-destination-desktop.jpg);
  height: 100vh;
  align-content: center;
}
.parent {
  height: 100vh;
  width: 100%;
  color: rgb(187, 182, 182);
  font-family: "Barlow", sans-serif;
  padding: 5px 10px;
}

.logodiv {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 50px;
}
.hamdiv {
  display: none;
}

.navdiv {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.055);
  backdrop-filter: blur(3px);
  margin-top: -25px;
  height: 80px;
  width: 50%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img {
  width: 40px;
}
.ulbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
}

.firstdiv {
  display: inline;
}

.emptydiv {
  width: 530px;
  height: 0.2px;
  background-color: rgb(94, 94, 94);
  margin-left: 150px;
  margin-top: -50px;
}

.pick {
  font: 40px;
  word-spacing: 5px;
  font-weight: bold;
  margin-top: 70px;
  margin-left: 100px;
}
.text_one {
  color: burlywood;
}
.planet {
  width: 100%;
  height: 400px;
  margin-top: 70px;
  display: flex;
  /* background-color: red; */
}

.plannet_image {
  width: 50%;
  height: inherit;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_plannet {
  width: 50%;
  height: inherit;
  padding: 5px;
}

.plannet_nav {
  width: 80%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.first {
  text-decoration: none;
  color: rgb(187, 182, 182);
  font-family: "Barlow", sans-serif;
}
.first:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}
.first:active {
  border-bottom: 2px solid white;
}

.plannet_name {
  font-size: 100px;
  margin: 20px 0px;
  color: white;
}
.border {
  width: 540px;

  height: 0.1px;
  background-color: rgb(94, 94, 94);

  margin-top: 50px;
}

.travel_detail {
  width: 60%;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.firstatag {
  text-decoration: none;
  color: inherit;
}
.description {
  line-height: 25px;
  font-size: 15px;
  width: 80%;
}
.pan {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.spa {
  font-size: 30px;
  margin-bottom: 30px;
}

/* mobile */

@media screen and (max-width: 450px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  body {
    background-image: url(/image/background-destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parent {
    height: 100vh;
  }
  .secondparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navdiv {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    max-width: 300px;
    right: 0;
  }

  .hamdiv {
    display: flex;
    justify-content: right;
    margin-right: 8px;
    margin-top: -27px;
  }
  .hamdiv2 {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 50px;
    right: 0;
    top: 5%;
    transition: 1s ease;
  }
  .hamnav {
    position: relative;
  }
  .empty {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }
  .ham {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 60%;
    left: 50%;

    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(-45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }

  .navbar {
    height: 100vh;
    width: 100%;
    max-width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: -300px;
    transition: 1s ease;
    color: rgb(15, 15, 15);
    justify-content: start;
  }

  .ulbar {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    margin-top: 40px;
    margin-left: 40px;
  }

  .logodiv {
    margin-top: 20px;
    margin-left: 15px;
  }
  .emptydiv {
    display: none;
  }
  .pick {
    margin-left: 0px;
    text-align: center;
  }
  .planet {
    margin-top: 20px;
    display: block;
  }

  .plannet_image {
    width: 60%;

    margin: auto;
    display: flex;
    margin-top: -10px;
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 80%;
    height: 70%;
  }
  .about_plannet {
    width: 100%;
    margin-top: -100px;
  }
  .plannet_nav {
    margin-bottom: 30px;
    margin-left: 40px;
  }

  .plannet_name {
    font-size: 70px;
    width: 100%;
    text-align: center;
    font-weight: lighter;
  }

  .border {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 0.2px;
    margin-bottom: -30px;
  }

  .travel_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    font-size: 14px;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    line-height: 25px;
  }
  .pan {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -5px;
  }
  .spa {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
