body {
  background-image: url(/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);
}
.parent {
  color: white;
}
.logodiv {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 50px;
}

.navdiv {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.055);
  position: fixed;
  margin-top: -25px;
  height: 80px;
  width: 50%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ulbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
}
ul li a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 450px) {
  body {
    background-image: url(/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
  }
  .parent {
    color: white;
  }
}
