body {
  background-image: url(/space-tourism-website-main/starter-code/assets/technology/background-technology-desktop.jpg);
}

.parent {
  color: rgb(187, 182, 182);
}
.firstspan {
  color: dimgrey;
}
.secondspan {
  color: white;
}

.thirddiv {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
  margin-top: -350px;
}

.seconddiv {
  text-align: start;
  margin-top: -240px;
  margin-left: 250px;
  line-height: 20px;
}
.second {
  margin-top: 100px;
  font-size: 20px;
  margin-left: 120px;
}
.fourthdiv {
  margin-top: 100px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-content: space-between;
  margin-left: 120px;
  font-size: 22px;
}
.thirdspan {
  border: 2px solid dimgrey;
  width: 55px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourthspan {
  border: 2px solid dimgrey;
  width: 55px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fifthspan {
  border: 2px solid dimgrey;
  width: 55px;
  height: 55px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstptag {
  text-transform: uppercase;
}
.firsth1 {
  font-size: 45px;
  font-weight: 20px;
  padding-bottom: 15px;
  color: white;
}
.img {
  margin-top: 50px;
  margin-left: 50px;
  width: 40px;
}
.emptydiv {
  background-color: rgb(83, 83, 83);
  height: 0.1px;
  width: 35rem;
  margin-left: 150px;
  margin-top: -25px;
}
.thirdspan {
  text-decoration: none;
  color: inherit;
}
.fourthspan {
  text-decoration: none;
  color: inherit;
}
.fifthspan {
  text-decoration: none;
  color: inherit;
}
.thirdspan:hover {
  background-color: white;
  color: black;
  border-color: white;
}
.fourthspan:hover {
  background-color: white;
  color: black;
  border-color: white;
}
.fifthspan:hover {
  background-color: white;
  color: black;
  border-color: white;
}
