body {
  background-image: url(/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg);

  background-size: cover;
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("../fonts/Barlow/Barlow-Thin.tff") format("truetype");
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.parent {
  color: rgb(187, 182, 182);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.055);

  height: 80px;
  width: 50%;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.logo {
  display: flex;
  justify-content: left;
  margin-top: 30px;
  margin-left: 50px;
}
.hamdiv {
  display: none;
}
.navdiv {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.ulbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
.firstatag {
  text-decoration: none;
  color: inherit;
}
.firstatag .active {
  border-bottom-style: solid;
  border-bottom: 10px;
  border-bottom-color: white;
}

.parent2 {
  width: 100%;
  height: 400px;
  font-family: "Barlow", sans-serif;
  display: flex;
  margin-top: 150px;
  padding: 0% 10%;
}
.child2 {
  width: 50%;

  padding: 30px 0px;
}
.button {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.space {
  font-size: 100px;
  margin: 30px 0px;
}
.sentence {
  line-height: 25px;
}
.explore_text {
  border-radius: 125px;
  background-color: white;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
  font-family: "Barlow", sans-serif;
}
.explore_text:hover {
  transition: 2s;
  opacity: 0.5;
}
.border {
  width: 540px;
  height: 0.1px;
  background-color: rgb(94, 94, 94);
  margin-left: 155px;
  margin-top: -50px;
}
.img {
  width: 40px;
}
@media screen and (max-width: 450px) {
  body {
    background-image: url(/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .navdiv {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    max-width: 300px;
    right: 0;
  }

  .hamdiv {
    display: flex;
    justify-content: right;
    margin-right: 8px;
    margin-top: -27px;
  }
  .hamdiv2 {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 50px;
    right: 0;
    top: 5%;
    transition: 3s ease;
  }

  .hamnav {
    position: relative;
  }
  .empty {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }
  .ham {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 60%;
    left: 50%;

    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(-45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }

  .navbar {
    height: 100vh;
    width: 100%;
    max-width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: -300px;
    transition: 1s ease;
    color: rgb(15, 15, 15);

    justify-content: start;
  }

  .ulbar {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-top: 20px;
    margin-left: 40px;
  }
  .logo {
    margin-top: 20px;
    margin-left: 15px;
  }
  .border {
    display: none;
  }

  .parent2 {
    width: 100%;
    height: 400px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .child2 {
    width: 90%;
    margin: auto;
    padding: 0;
  }
  .explore_text {
    border-radius: 140px;
    background-color: white;
    width: 150px;
    height: 150px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-size: 25px;
    color: black;
    font-family: "Barlow", sans-serif;
    margin-top: 50px;
  }
  .explore_text:hover {
    transition: 2s;
    opacity: 0.5;
  }
  .button {
    width: 100%;
    margin-bottom: 20px;
  }

  .space {
    font-size: 70px;
    font-weight: 300;
    margin: 0px;
    width: 60%;
    margin: auto;
    color: white;
    margin-top: 20px;
  }
  .h2 {
    font-size: 16px;
    font-weight: 100;
    width: 64%;
    margin: auto;
    margin-top: -100px;
  }
  .sentence {
    line-height: 30px;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
}
