body {
  background-image: url(/space-tourism-website-main/starter-code/assets/technology/background-technology-desktop.jpg);
}

@font-face {
  font-family: "Barlow", sans-serif;
  src: url("../fonts/Barlow/Barlow-Thin.tff") format("truetype");
}
.logodiv {
  display: flex;
  justify-content: left;
  margin-top: 50px;
  margin-left: 50px;
}
.hamdiv {
  display: none;
}

.navdiv {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.navbar {
  background-color: rgba(255, 255, 255, 0.055);

  margin-top: -25px;
  height: 80px;
  width: 50%;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(3px);
}
.img {
  width: 40px;
}
.ulbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}
ul a {
  text-decoration: none;
  color: inherit;
}
ul a .active {
  border-bottom-style: solid;
  border-bottom: 10px;
  border-bottom-color: white;
}

.firstdiv {
  display: inline;
}
.parent {
  color: rgb(187, 182, 182);
}
.second {
  margin-top: 80px;
  margin-left: 150px;
  font-size: 23px;
  font-family: "Barlow", sans-serif;
}
.firstspan {
  color: dimgray;
  font-family: "Barlow", sans-serif;
}
.fourthdiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 240px;
  margin-left: 120px;
  font-size: 22px;
}
.thirdspan {
  width: 55px;
  height: 55px;
  border: solid, dimgray, 2px;
  border-radius: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;

  justify-content: center;
  text-decoration: none;
  color: white;
}
.fourthspan {
  width: 55px;
  height: 55px;
  border: solid, dimgray, 2px;
  border-radius: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.fifthspan {
  width: 55px;
  height: 55px;
  border: solid, dimgray, 2px;
  border-radius: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.secondparent {
  display: flex;
}
.seconddiv {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 80px;
  margin-top: -25px;
  line-height: 35px;
  font-family: "Barlow", sans-serif;
}
.image {
  margin-top: -70px;
  width: 450px;
  height: 400px;
}
.fifthdiv {
  display: none;
}
.secondarticle {
  margin-top: -20px;
}
.firstptag {
  text-transform: uppercase;
}
.firsth1 {
  font-size: 45px;
  font-weight: lighter;
  color: white;
  margin-top: -5px;
}
.sixthdiv {
  display: flex;
  justify-content: center;

  margin-top: 100px;
}
.thirdspan:hover {
  background-color: white;
  color: black;
  border-color: white;
}
.fourthspan:hover {
  background-color: white;
  color: black;
  border-color: white;
}
.fifthspan:hover {
  background-color: white;
  color: black;
  border-color: white;
}
.emptydiv {
  width: 530px;
  height: 0.2px;
  background-color: rgb(94, 94, 94);
  margin-left: 150px;
  margin-top: -50px;
}
@media screen and (max-width: 450px) {
  body {
    background-image: url(/space-tourism-website-main/starter-code/assets/technology/background-technology-mobile.jpg);
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
  }

  .navdiv {
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    max-width: 300px;
    right: 0;
  }

  .hamdiv {
    display: flex;
    justify-content: right;
  }
  .hamdiv2 {
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 50px;
    right: 0;
    top: 5%;
    transition: 3s ease;
  }

  .hamnav {
    position: relative;
  }
  .empty {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }
  .ham {
    position: absolute;
    width: 30px;
    height: 5px;
    top: 60%;
    left: 50%;

    border-radius: 25px;
    transform: translate(-50%, 50%) rotate(-45deg);
    background-color: rgba(29, 29, 29, 0.685);
  }

  .navbar {
    height: 100vh;
    width: 100%;
    max-width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: -300px;
    transition: 1s ease;
    color: rgb(15, 15, 15);
    display: flex;
    justify-content: start;
  }

  .ulbar {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }
  .logodiv {
    margin-top: 20px;
    margin-left: 15px;
  }
  .img {
    width: 35px;
  }
  .second {
    width: 60%;
    margin: auto;

    margin-top: 30px;
    font-size: 25px;
  }
  .fourthdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    height: 100px;
  }

  .fifthdiv {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  .secondparent {
    display: flex;
    justify-content: center;
  }

  .thirddiv {
    display: none;
  }
  .seconddiv {
    width: 85%;
    text-align: center;
    line-height: 27px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sixthdiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .secondimage {
    width: 100%;
  }
  .fourthspan {
    width: 45px;
    height: 45px;
    border-radius: 25px;
  }
  .fifthspan {
    width: 45px;
    height: 45px;
    border-radius: 25px;
  }
  .thirdspan {
    width: 45px;
    height: 45px;
    border-radius: 25px;
  }
  .emptydiv {
    display: none;
  }
}
